@import '../../variables';

.tab-active {
    background-color: $primary;
    border-radius: 5px;
}

.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border: 2px solid gray;
    border-radius: 10px;
}