@import "~bootstrap/scss/bootstrap";
// Custom color variables for react bootstrap

//Main colors
$primary: #4B9B62;
$primary-light: #22C55E;
$secondary: #292633;
$secondary-light: #34313F;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
);

//Other colors
$body-color: $secondary-light;
$body-bg: #34313F;
$border-color: #34313F;

//Text colors
$text-muted: #a5b1c4;
$link-color: white;
$link-hover-color: $primary-light;
$form-text-color: white;
$input-color: white;
$input-placeholder-color: white;

//Inputs
$input-bg: $secondary;
$input-border-color: $secondary;
$form-check-input-bg: $secondary;
$form-check-input-checked-bg-color: $primary-light;
$form-check-input-border: $primary-light;
$input-focus-color: white;
$input-group-addon-color: black;
$input-group-addon-bg: $primary;

//Select
$form-select-bg: $secondary;
$form-select-color: white;


//Tabs
//$nav-tabs-border-width
//$nav-tabs-border-radius
$nav-tabs-link-active-border-color: $primary-light;
$nav-tabs-border-color: $primary-light;
$nav-tabs-link-hover-border-color: $primary-light;
$nav-tabs-link-active-color: $primary-light;
$nav-tabs-link-active-bg: $secondary;

// Re-import Bootstrap to apply custom variables
@import "~bootstrap/scss/bootstrap";
@import '../../variables.scss';

//Baseeee
body {
  background-color: #292633
}
h1, h2, h3, h4, h5, h6, button, span, div, a, p, b, small, label{
  color: white !important;
}
a {
  text-decoration: none !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

//Margins and paddings
.margin-20px {
  margin: 20px;
}
.padding-20px {
  padding: 20px;
}
.margin-b-10px {
  margin-bottom: 10px;
}
.margin-padding-0 {
  margin: 0;
  padding: 0;
}

//Widths and heights
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-20rem {
  width: 20rem;
}
.h-20rem {
  height: 20rem;
}
.h-10rem {
  height: 10rem;
}

//Flexbox
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-gap-10px {
  gap: 10px;
}
.flex-gap-5 {
  gap: 5%;
}
.flex-gap-1 {
  gap: 1%;
}

//Colors
.back-secondary {
  background-color: $secondary-light;
}
.back-secondary-dark {
  background-color: $secondary;
}
.border-1 {
  border-radius: 1rem;
}

//Other
.btn {
  color: white;
  font-weight: 600;
}
.navdrop-item:hover {
  background-color: $primary-light
}