.margins {
	margin: 20px;
	padding: 20px;
	border-radius: 20px;
}
.display-flex {
	display: flex;
}
.display-row {
    flex-direction: row;
    align-items: center;
}
.display-column {
	flex-direction: column;
}
.flex-centered {
	align-items: center;
	justify-content: center;
}
.flex-gap {
	gap: 10px;
}
.flex-gap-5 {
	gap: 5%;
}
.landing-image {
	width: 500px;
	height: 350px;
}