@import '../../variables.scss';

.event-card {
    width: 356px;
    height: 250px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
}
.event-title {
    background-color: $secondary;
    border-radius: 7px;
}
.event-btn::hover {
    color: white;
}